volumes:
  psql:

services:
  psql:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - psql:/var/lib/postgresql
    ports:
      - 5555:5432
